.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #6969b3;
  padding: 40px;
  border-radius: 5px;
}
.container form button {
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin: 5px;
  color: #000;
}

.container form input {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  margin: 5px;
}
